.boite-global{
	border:1px solid black;
	width: 100vw;
	height:auto;
	margin:100px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:auto;
	grid-gap: 0px; /*grille avec 30px ecart */
	grid-auto-flow: row ; /*ranger en rangée*/
}

body{
overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

article h3{	
	height: 300px;
	background-color: white;
	opacity: 0.80;	
	position: relative;
	top: 0px;
	right: 0px;
	text-align: center;
	padding-top:20%; 
	transition: 1s ease all;	
}

article:hover h3{
	top: -15vw;
}

.projet{
	overflow: hidden;
	height: 28vw;
}
