/* IMPORT FONT */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

/* GLOBAL */

:root {
	--blue-theme: rgb(255, 74, 1);
	--grey-theme: rgb(237, 245, 255);
	--grey-dark-theme: rgb(215, 215, 215);
}

* {
	scrollbar-color: var(--blue-theme) var(--grey-dark-theme);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 0.4vw;
}
::-webkit-scrollbar-track {
	background: var(--grey-dark-theme);
}
::-webkit-scrollbar-thumb {
	background: var(--blue-theme);
}

html,
body,
.fancybox-spaceball,
.theme-switch,
#theme-switch {
	cursor: crosshair;
	font-family: "Krona One";
	cursor: crosshair;
}

body {
	overflow-x: hidden;
	color: var(--blue-theme);
	background-color: var(--grey-theme);
	border-color: var(--blue-theme);
}

h1 {
	font-family: "Krona One", sans-serif;
	font-size: 3vw;
}

h2 {
	font-family: "Krona One", sans-serif;
	font-size: 3vw;
}

h3 {
	font-family: "Krona One";
	font-size: 2vw;
	line-height: 1.4em;
}

li {
	font-family: "Krona One", sans-serif;
}

p {
	font-family: "Work Sans";
	font-size: 1.2vw;
	line-height: 1.2em;
}

a,
a:hover {
	text-decoration: none;
	color: var(--blue-theme);
}

a,
.section-projet,
.section-faq,
.section-dsaa-dnmade,
.conteneur-faq {
	cursor: pointer;
}

.partie-faq,
.partie-interviews {
	cursor: crosshair;
}

img {
	object-fit: fill;
}

em {
	font-weight: 600;
}

header {
	width: 100vw;
}

/* CHARGEMENT DE LA PAGE */

.svg-chargement {
	pointer-events: none;
	position: fixed;
	width: 50vw;
	opacity: 0.95;
}

.svg-chargement-01,
.svg-chargement-02,
.svg-chargement-03 {
	z-index: 20;
}

.svg-chargement-04,
.svg-chargement-05,
.svg-chargement-06 {
	z-index: 19;
}

.svg-chargement-07,
.svg-chargement-08,
.svg-chargement-09 {
	z-index: 18;
}

.svg-chargement-10,
.svg-chargement-11 {
	z-index: 17;
}

.svg-chargement-12,
.svg-chargement-13,
.svg-chargement-14,
.svg-chargement-15,
.svg-chargement-16 {
	z-index: 16;
}

.svg-chargement-17 {
	z-index: 15;
}

.svg-chargement-01 {
	left: -15vw;
	bottom: -10vh;
}

.svg-chargement-02 {
	right: -10vw;
	top: -30vh;
}

.svg-chargement-03 {
	left: -10vw;
	top: -10vh;
}

.svg-chargement-04 {
	right: -10vw;
	bottom: -10vh;
}

.svg-chargement-05 {
	right: 25vw;
	top: -25vh;
}

.svg-chargement-06 {
	right: -10vw;
	top: -10vh;
}

.svg-chargement-07 {
	left: -10vw;
	bottom: 0vh;
}

.svg-chargement-08 {
	left: -10vw;
	top: 20vh;
}

.svg-chargement-09 {
	right: 0vw;
	top: 0vw;
}

.svg-chargement-10 {
	right: -10vw;
	bottom: -10vh;
}

.svg-chargement-11 {
	left: -10vw;
	top: -10vh;
}

.svg-chargement-12 {
	right: -10vw;
	bottom: 0vh;
}

.svg-chargement-13 {
	left: -10vw;
	top: 20vh;
}

.svg-chargement-14 {
	left: 20vw;
	top: -10vh;
}

.svg-chargement-15 {
	left: -10vw;
	top: -10vh;
}

.svg-chargement-16 {
	left: 30vw;
	bottom: -20vh;
}

.svg-chargement-17 {
	left: 30vw;
	top: 10vh;
}

/* HEADER */

header {
	position: fixed;
	z-index: 10;
	top: 0px;
	background-color: var(--grey-theme);
}

/* NAVIGATION */

.boite-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4vw 2.2vw;
	border-bottom: 3px solid;
}

.boite-logo {
	display: flex;
	align-items: center;
}

.boite-logo img {
	width: 13vw;
	margin-right: 1vw;
}

.boite-reseaux {
	display: flex;
	width: 10vw;
	justify-content: space-between;
	align-items: center;
	margin-right: 1vw;
}

.logo-face,
.logo-yout {
	margin-left: 0.2vw;
}

.logo-insta {
	height: 1.7vw;
}

.logo-face {
	height: 1.6vw;
}

.logo-yout {
	height: 1.4vw;
}

.logo-vimeo {
	height: 1.4vw;
}

/* REUNION */

.boite-globale-reunion {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

[class*="boite-reunion-"] {
	display: flex;
	align-items: center;
	padding: 1vw 0vw 1vw 0vw;
	height: 4vw;
	border-bottom: 2px solid;
}

[class*="boite-reunion-"]:hover {
	background-color: var(--blue-theme);
}

[class*="boite-reunion-"]:hover h2,
[class*="boite-reunion-"]:hover p {
	color: var(--grey-theme);
}

[class*="boite-reunion-"]:hover svg {
	fill: var(--grey-theme);
	stroke: var(--grey-theme);
}

[class*="boite-reunion-"] h2,
.boite-reunion-05 img {
	margin: 0vw 1vw;
}

.boite-reunion-05 svg {
	width: 4vw;
	margin: 1vw;
	fill: var(--blue-theme);
	stroke: var(--blue-theme);
	stroke-miterlimit: 10;
	stroke-width: 4px;
}

.boite-reunion-01,
.boite-reunion-02,
.boite-reunion-03,
.boite-reunion-04 {
	border-right: 2px solid;
}

/* CONTENEUR GLOBAL */

.conteneur-global {
	margin-top: 9vw;
}

/* INDEX */

.boite-video-present {
	height: 34vw;
	padding: 1.5vw 0vw;
	border-bottom: 2px solid;
}

.video-present {
	width: 60vw;
	height: 34vw;
	margin: auto;
}

.video-present iframe {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
}

.section-projet,
.section-faq {
	width: 100vw;
	height: 4vw;
	padding: 1vw;
	display: flex;
	align-items: center;
	border-bottom: 2px solid;
}

.section-projet h2,
.section-faq h2 {
	margin-left: 2vw;
	transition: margin-left ease-in-out 0.4s;
}

.section-projet:hover h2,
.section-faq:hover h2 {
	margin-left: 0.4vw;
	transition: margin-left ease-in-out 0.3s;
}

.fleche-text {
	width: 2.6vw;
	margin-left: 0vw;
	transition: margin-left ease-in-out 0.4s;
}

.section-projet:hover .fleche-text,
.section-faq:hover .fleche-text,
.section-dsaa-dnmade:hover .fleche-text {
	margin-left: 0.8vw;
	transition: margin-left ease-in-out 0.3s;
}

.fleche-text-faq {
	width: 2.6vw;
	margin-left: 0vw;
	margin-right: 1vw;
	transform: rotate(90deg);
	transition: transform 0.4s ease-in-out;
}

.conteneur-dsaa-dnmade {
	width: 100vw;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
	padding: 1.5vw 1vw;
	border-bottom: 2px solid;
	height: 3vw;
}

.conteneur-conference {
	width: 100vw;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
	border-bottom: 2px solid;
}

.dsaa-dnmade,
.conference {
	display: flex;
	align-items: center;
}

.dsaa-dnmade h2 {
	margin-left: 2vw;
}

.conference h2 {
	width: 100%;
	padding: 1.5vw 5.5vw;
	border-bottom: 2px solid;
}

.lien-conference-01,
.lien-conference-02,
.lien-conference-03 {
	border-right: 2px solid;
}

.boite-dsaa-dnmade p {
	margin: 2vw 4.6vw;
}

.boite-conference p {
	margin: 2vw 3.5vw;
}

.identifiants-conference {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* RECRUTEMENT */

/* MENU DEROULANT */

.conteneur-intro-recrutement {
	height: 25vw;
	display: flex;
	align-items: center;
}

.conteneur-intro-recrutement p {
	width: 50vw;
	margin: 0 auto 5vw;
}

.conteneur-faq {
	width: 100vw;
	overflow: hidden;
	height: 1vw;
	transition: height 0.8s ease-in-out;
	padding: 1vw;
	padding-left: 2.2vw;
	border-top: solid var(--blue-theme);
	cursor: default;
}

.titre-faq {
	border-top: solid var(--blue-theme);
	height: 2.8vw;
}

.conteneur-faq:hover {
	transition: height 0.6s ease-in-out;
}

[class*="fleche-question-faq-"] {
	width: 1.8vw;
	transform: rotate(90deg);
	transition: transform 0.6s ease-in-out;
}

.fleche-text-recru {
	width: 1.8vw;
	margin-left: 0vw;
	margin-right: 1vw;
	transform: rotate(90deg);
	transition: transform 0.4s ease-in-out;
}

.boite-question-reponse {
	width: 100vw;
}

.boite-question-reponse p {
	width: 50vw;
	margin-left: 4.6vw;
	margin-right: 1vw;
}

.boite-question {
	display: flex;
	align-items: center;
	margin-bottom: 1.4vw;
}

.boite-question h3 {
	margin-left: 1vw;
}

.boite-reponse {
	width: 100vw;
	display: flex;
}

.partie-interviews,
.question-10,
.question-11,
.question-12 {
	color: var(--blue-theme);
	border-color: var(--blue-theme);
	background-color: var(--grey-theme);
}

[class*="svg-play-"] {
	width: 2vw;
	fill: none;
	stroke: var(--grey-theme);
	stroke-width: 66px;
	transform: scale(1);
	transition: transform 0.2s ease-in-out;
}

.vers-parcoursup {
	height: 2.8vw;
}

.boite-parcoursup {
	cursor: default;
	width: 100%;
	display: flex;
	align-items: center;
}

.vers-parcoursup a{
	font-family: "Krona One";
	font-size: 2vw;
	line-height: 1.4em;
	margin-left: 0.4vw;
	transition: all 0.3s ease;
}

.boite-parcoursup img{
	transform: rotate(-45deg);
	width: 1.8vw;
	margin-right: 0.4vw;
	margin-left: 0vw;
	transition: all 0.3s ease;
}

.boite-parcoursup:hover img{
	margin-right: 0.2vw;
	margin-left: 0.2vw;
}

.boite-parcoursup:hover a{
	margin-left: 0.2vw;
}


/* IMAGES QUESTIONS */

.video-question {
	width: 100vw;
	height: 30vw;
	display: flex;
	justify-content: center;
}

.video-question iframe {
	width: 60vw;
	height: 30vw;
}

/* INTERVIEW QUESTIONS */

.video-interview {
	width: 40vw;
	height: 33.5vw;
	margin: 0vw 28vw;
}

/* REGLAGES DES QUESTIONS */

.question-00,
.question-01,
.question-02,
.question-03,
.question-04,
.question-05,
.question-06,
.question-07,
.question-08,
.question-09,
.question-10,
.question-11,
.question-12,
.question-13,
.question-14,
.question-15,
.partie-interviews,
.partie-faq {
	height: 2.8vw;
}

.partie-interviews,
.partie-faq {
	margin-left: -1vw;
}

/* PROJET */

.boite-projet {
	width: 98vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-rows: auto;
	border-bottom: 2px solid;
	margin: auto;
}

.frame-1 img {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}

.boite-description {
	pointer-events: none;
	height: 11.5vw;
	position: relative;
	top: 1vw;
	padding: 1vw;
	transition: top 0.6s ease-in-out;
	background-color: var(--grey-theme);
	border-top: 2px solid;
}

.boite-description h3 {
	margin-bottom: 1vw;
}

.projet:hover .boite-description {
	top: -11.5vw;
}

.projet {
	overflow: hidden;
	height: 28vw;
	width: 100%;
}

.projet iframe {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
}

/*PORTFOLIOS*/

.boite-portfolios {
	width: 100%;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
	height: 6vw;
}

.titre-portfolio {
	padding: 1.4vw 2vw;
	display: flex;
}

.titre-portfolio:hover .fleche-text,
.boite-portfolios:hover .fleche-text-portfolio {
	margin-left: 0.8vw;
	transition: margin-left ease-in-out 0.3s;
}

.fleche-text-portfolio {
	width: 2.6vw;
	margin-left: 0vw;
	margin-right: 0.5vw;
	transform: rotate(90deg);
	transition: transform 0.4s ease-in-out;
}

.folios {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.annee {
	margin-bottom: 1vw;
}

.promo {
	padding: 2vw;
}

.promo a{
	display: inline;
}

.promo-dnmade-2 {
	border-right: 2px solid;
}

.promo-dnmade-3 {
	border-right: 2px solid;
}

/* FOOTER */

footer {
	height: 2vw;
	padding: 2.2vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* VIDEO 360*/

.boite-360 {
	height: 40vw;
}

.text-360 {
	margin: 2vw auto;
	width: 30vw;
}

/* FORMATION */

.conteneur-intro-formation {
	height: 45vw;
}

.conteneur-intro-formation div {
	width: 50vw;
	height: 25vw;
	margin: 0 auto 3vw;
}

.conteneur-intro-formation p {
	width: 50vw;
	margin: 0 auto 5vw;
}

.fleche-text-parcoursup {
	width: 2.6vw;
	margin-left: 0vw;
	margin-right: 0.5vw;
	transform: rotate(45deg);
	transition: transform 0.4s ease-in-out;
}

.faq {
	height: 3vw;
	border-top: 3px solid var(--blue-theme);
	border-bottom: 3px solid var(--blue-theme);
	margin-bottom: 3vw;
	padding-left: 2.2vw;
}

.questions {
	border: none;
	padding-left: 2.2vw;
}

.questions h3 {
	font-size: 1.7vw;
}

.parcoursup-faq {
	margin-top: 3vw;
	padding-left: 2.2vw;
}