html {
	border: none;
	padding: none;
}

body {
	background-color: rgb(237, 245, 255);
}

header {
	margin: 2vw;
}

h1 {
	font-family: "Krona One", sans-serif;
	color: rgb(255, 74, 1);
	font-size: 3vw;
}

hr {
	border: 1px solid rgb(255, 74, 1);
	margin: 2vw 2vw 0vw 0vw;
}

p,
.photos::after {
	font-family: "Work Sans", sans-serif;
	color: rgb(255, 74, 1);
	font-size: 1.2vw;
	width: 45%;
}

.texte_presentation {
	margin: 2vw;
}

.global {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1vw;
	margin: 0vw 2vw 2vw 2vw;
}

.plan {
	width: calc(100% - 4vw);
	margin: auto;
	padding-bottom: 2vw;
}

.photos:nth-child(1)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle DSAA";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(2)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle de Sérigraphie";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(3)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle de cours DNMADE/DSAA";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(4)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Labo Photo";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(5)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle d'ordinateurs DNMADE";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(6)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle de Risographie & Découpe laser ";
	background-color: rgb(237, 245, 255);
}

.photos img {
	width: 100%;
	height: 100%;
}

footer {
	display: flex;
	width: 100%;
	outline: 2px solid rgb(255, 74, 1);
}

.lien-dsaa {
	width: 50%;
	text-align: center;
	border-right: 2px solid rgb(255, 74, 1);
}

.lien-dnmade {
	width: 50%;
	text-align: center;
}
