:root {
  --primary-theme: rgb(255, 74, 1);
  --grey-theme: rgb(237, 245, 255);
  --grey-dark-theme: rgb(215, 215, 215);
}

html {
	border: none;
	padding: none;
}

body {
	background-color: rgb(237, 245, 255);
}

header {
  width: 100vw;
  border-bottom: 2px solid var(--primary-theme);
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: var(--grey-theme);
  padding: 1.5vw;
  padding-left: 3vw;
}

h1 {
	font-family: "Krona One", sans-serif;
	color: rgb(255, 74, 1);
	font-size: 3vw;
}

p,
.photos::after {
	font-family: "Work Sans", sans-serif;
	color: rgb(255, 74, 1);
	font-size: 1.2vw;
	width: 45%;
}

.texte_presentation {
	margin: 13.5vw 3vw 0vw;
}

.plan {
	width: calc(100% - 6vw);
	margin: auto;
	padding-bottom: 2vw;
	position: relative;
	bottom: 6vw;
	margin-bottom: 3vw;
}

.global {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1vw;
	margin: 0vw 2vw 2vw 2vw;
}

.photos:nth-child(1)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle DSAA";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(2)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle de Sérigraphie";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(3)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle de cours DNMADE/DSAA";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(4)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Labo Photo";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(5)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle d'ordinateurs DNMADE";
	background-color: rgb(237, 245, 255);
}

.photos:nth-child(6)::after {
	position: relative;
	top: -2vw;
	padding: 1vw;
	content: "Salle de Risographie & Découpe laser ";
	background-color: rgb(237, 245, 255);
}

.photos img {
	width: 100%;
	height: 100%;
}

footer {
	display: flex;
	width: 100%;
	outline: 2px solid rgb(255, 74, 1);
}

footer img{
	width: 2.2vw;
	margin-right: 1vw;
}

footer div {
	padding: 1.3vw;
}

footer h1 {
	cursor: pointer;
}

.lien-dsaa {
	width: 50%;
	text-align: center;
	border-right: 2px solid rgb(255, 74, 1);
}

.lien-dnmade {
	width: 50%;
	text-align: center;
}
