.conteneur-global {
	width: 640px;
	margin: auto;
	background-color: black;
}

body {
	background-color: rgb(20, 20, 20);
}

sup {
	vertical-align: super;
	font-size: 70%;
}

header {
	margin: 0 5%;
	width: 90%;
}

img {
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  transition: 0.4s ease-in-out;
}

img:hover {
  width: 4.5vw;
  height: 4.5vw;
  transition: 0.3s ease-in-out;
}

.paragraphe {
	margin: 5%;
	width: 90%;
}

.BlocTexte {
	margin: auto;
}

h1 {
	font-family: "Lekton", sans-serif;
	font-size: 6em;
	color: white;
	text-align: center;
	padding-top: 0.4em;
}

.textdébut {
	font-family: "Quicksand", sans-serif;
	color: white;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.2em;
	width: 95%;
	margin: auto;
}

strong {
	font-size: 1.5em;
}

.un {
	display: inline-block;
	margin: 0 5%;
	width: 90%;
}

.titrenoms {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 160px;
	border-bottom: 3px solid white;
}

h2 {
	color: white;
	font-family: "Lekton", sans-serif;
	font-size: 2em;
}

.groupe01 {
	color: white;
	font-family: "Quicksand", sans-serif;
	font-size: 1em;
}

footer {
	margin: 5%;
	width: 90%;
	height: 110px;
}

.lien_footer {
	color: white;
}

.lien_footer:hover {
	color: rgb(105, 105, 105);
}

footer p {
	font-family: "Lekton", sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;
}
